#chuck {
  width: 50%;
  font-family:"Bebas Neue", cursive;
}
#chucke {
  width: 60%;
  font-family:"Bebas Neue", cursive;
  background-color:Black;
  height: 100px;
width: auto;
}
#alphabet {
 .roman li a:hover{
   color: white;
 }
}
